@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background-image: linear-gradient(
      0deg,
      rgb(247, 247, 247) 23.8%,
      rgb(252, 221, 221) 92%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

h1 {
    color: #fff;
    letter-spacing: 3px;
}

.screen {
    cursor: pointer;
    width: 75%;
    height: 75%;
    background-color: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls {
    background: rgb(161, 161, 161);
    color: #fff;
    width: 75%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: rgb(248, 218, 218);
}

.controls .fa-stop {
    color: rgb(248, 218, 218);
}

.controls .fa-pause {
    color: rgb(255, 221, 221);
}

.progress {
    border-radius: 7px;
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.btn:focus {
    outline: 0;
}

@media(max-width:800px) {
    .screen, .controls {
        width: 100%;
    }
}